.container-fw {
  // 原 docs 文本阅读内容是1200px，太窄了，加宽
  max-width: 1800px;
}

.btn-toggle {
  text-transform: none;
}

// index image animation
@keyframes animation {
  100% {
    transform: rotate(360deg);
  }
}

.animation {
  animation: animation 2s ease;
  animation-fill-mode: forwards;
  border-radius: 64px;
  height: 320px;
  width: 320px;
}

// DocSearch

.DocSearch-Container {
  z-index: 2000 !important;
}

.DocSearch-Hit-title {
  overflow: hidden;
}

.DocSearch-Hit-icon {
  display: flex;
  align-items: center;
}

.DocSearch-Hits mark {
  padding: 0;
}

@media (max-width:768px) {
  .DocSearch-Modal {
    position: fixed !important;
  }
}