.container-fw {
    // 原 docs 文本阅读内容是1200px，太窄了，加宽
    max-width: 1800px;
}

.btn-toggle {
    text-transform: none;
}

@keyframes rotateOnce {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.animation {
    height: 320px;
    width: 320px;
    border-radius: 15%;
        overflow: hidden;
        transition: filter 0.3s ease;
        object-fit: cover;
        object-position: center;
        background: transparent;
        display: block;
        margin: 0 auto;
        clip-path: circle(85% at center);
}

.animation:hover {
    animation: rotateOnce 2s ease-in-out forwards;
}

// DocSearch

.DocSearch-Container {
    z-index: 2000 !important;
}

.DocSearch-Hit-title {
    overflow: hidden;
}

.DocSearch-Hit-icon {
    display: flex;
    align-items: center;
}

.DocSearch-Hits mark {
    padding: 0;
}

@media (max-width: 768px) {
    .DocSearch-Modal {
        position: fixed !important;
    }
}
