.container-fw {
  // 原 docs 文本阅读内容是1200px，太窄了，加宽
  max-width: 1800px;
}

.btn-toggle {
  text-transform: none;
}

// index image animation
@keyframes animation {
  50% {
    transform: rotate(360deg);
  }
}

.animation {
  animation: animation 3s ease;
  animation-fill-mode: forwards;
  border-radius: 64px;
  height: 320px;
  width: 320px;
}